body {
    font-family: 'Roboto', sans-serif; 
    color:#212121;
    width: 1600px;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --h2-font-color: #212121;
    --footer-background-color: #2F303A;
            
}

li {
    list-style-type: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.span-web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
}

.span-studio1 {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
}
       
.span-studio2 {
    color:rgba(255, 255, 255, 1);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
}

.link-navigation1 {
            font-size: 14px;
            text-decoration: none;
            color:var(--h2-font-color);
            padding-left:46px;}

        
.link-navigation2 {
            font-size: 14px;
            text-decoration: none;
            color:  rgba(33, 150, 243, 1);
            padding-left:46px;}
    
    
        .link-agency {
            color: var(--h2-font-color);
            font-size: 14px;
            text-decoration: none;
            padding-left: 93px;
        }
        .link-agency:hover {color: rgba(33, 150, 243, 1);
                    cursor: pointer;}
    
        .link-mail {
            color: #757575;
            font-size: 14px;
            font-weight: 16px;
            text-decoration: none;
            
}
        
        .link-mail:hover {color: rgba(33, 150, 243, 1);
                    cursor: pointer;}
                .tel-number {
                                    color: #757575;
                                        font-size: 14px;
                                        font-weight: 16px;
                                        text-decoration: none;
                                        padding-left: 50px;
                                    }
                
                
                                .link-adres {
                                    color: #757575;
                                    font-size: 14px;
                                    font-weight: 16px;
                                    text-decoration: none;
                                }
                                
                                    
                                .link-adres:hover {color: rgba(33, 150, 243, 1);}
                                .header-one {
                                    font-style: black;
                                    font-size: 44px;
                                    color: rgba(255, 255, 255, 1);
                                    text-align: center;
                                    padding-top: 200px;
                                    

                                }
                                .button-order {
                                    background-color:rgba(33, 150, 243, 1);
                                    color: rgba(255, 255, 255, 1);
                                    width: 200px;
                                    height: 50px;
                                    border: none;
                                    border-radius: 4px;
                                    margin-left: 700px;
                                    margin-right: 700px;
                                    margin-top: 40px;
    
    
    
                                }
                                .header-three {
                                    font-style: bold;
                                    font-size: 14px;
                                    line-height: 1.4em;
                                }

                                .div-article-one {
                                    width: 270px;
                                    height: 75px;
                                    
                                    
                                    
                                }
                                .article-one {
                                    font-size: 14px;
                                    font-style: regular;
                                    color: rgba(117, 117, 117, 1);
                                    font-family: "roboto";
                                    font-style: normal;
                                    line-height: 24px;
                                    text-align: left;
                                    line-height: 146%;
                                    Letter spacing: 3%;
                                
                                }
                                .header-second {
                                    font-style: bold;
                                    font-size: 36px;
                                    color: var(--h2-color);
                                    padding-top: 94px;
                                    text-align: center;
                                }
                                .h3 {font-size: 16px;
                                    color: rgba(33, 33, 33, 1);
                                    font-style: bold;
                                    line-height: 1.6em;
                                    text-align: center;
                                    
                                    
                                
                                }
                                .article-two {
                                    font-size: 16px;
                                    color: rgba(117, 117, 117, 1);
                                    line-height: 1.6em;
                                    text-align: center;
                                   padding-bottom: 30px;
                                   line-height: 100%;
                                    
                                    
                                }
                           .link-map {
                               text-decoration: none;
                               font-size: 14px;
                               line-height: 1.6em;
                              color:  rgba(255, 255, 255, 1);
                             padding-top: 20px;
                              
                           }

                   .link-adress2 {
                       font-style: regular;
                       font-size: 14px;
                       text-decoration: none;
                       line-height: 1.6em;
                       color: rgba(255, 255, 255, 0.6);
                      
        
                   }

                   .list-footer-adress {
                    padding-top: 9px;
                   }
                   .link-portfolio {
                    font-style: medium;
                    font-size: 14px;
                    color: rgba(33, 150, 243, 1);
                    text-decoration: none;
                   }

                   .div-button {
                    display: flex;
                    
                    justify-content: center;
                    gap: 8px;
                    margin-bottom: 56px;

                   
            }

                   .button-navigation1 {
                    background-color: rgba(245, 244, 250, 1);
                    color:rgba(33, 33, 33, 1);
                    border-style: none;
                    width: 121px;
                    height: 38px;
                    font-size: 16px;
                    border-radius: 4px;
                    background-color: ;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
 

                   }

                   .button-navigation2 {
                    background-color: rgba(245, 244, 250, 1);
                    color: rgba(33, 33, 33, 1);
;
                    border-style: none;
                    width: 93px;
                    height: 38px;
                    font-size: 16px;
                    border-radius: 4px;
                    background-color: rgba(245, 244, 250, 1);
;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);


                   }

                   .button-navigation3 {
                    background-color: rgba(245, 244, 250, 1);
                    color: rgba(33, 33, 33, 1);
;
                    border-style: none;
                    width: 114px;
                    height: 38px;
                    font-size: 16px;
                    border-radius: 4px;
                    background-color: rgba(245, 244, 250, 1);
;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
                   
                
                }

                .button-navigation4 {
                    background-color: rgba(245, 244, 250, 1);
                    color: rgba(33, 33, 33, 1);
;
                    border-style: none;
                    width: 91px;
                    height: 38px;
                    font-size: 16px;
                    border-radius: 4px;
                    background-color: rgba(245, 244, 250, 1);
;
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

                }




                   
 

                   .button-navigation1:hover, .button-navigation2:hover,
                   .button-navigation3:hover, .button-navigation4:hover 
                   {
                    background-color: #2196F3;
                    color: white;
                    cursor: pointer;
                    
                    
                   }
                   
h2 {
 font-style: bold;
font-size: 18px;
color: rgba(33, 33, 33, 1);

                   }
                   

    ul {padding-left: 0;}
                   
.article-portfolio {font-style: regular;
font-size: 16px;
color: rgba(117, 117, 117, 1);
line-height: 4em;
padding-left: 24px;
line-height: 160%;
}
    
.container1 {
    width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.container {width: 1200px;
margin-left:auto;
margin-right: auto;}

.navigation {
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: "roboto";
    font-weight: 500;
}
.navigation-portfolio {
    width: 1600px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    font-family: "roboto";
    font-weight: 500;
}

.div-nav {
    display: flex;
    justify-content: flex-start;
}
    .nav-link-first {
        display: flex; 
        align-items: center;
    
    
    }
    .nav-link-second {
        display: flex;
        justify-content: flex-end;
    
}

    
    .div-section-first{
        background-color: rgba(47, 48, 58, 1);
        width: 1600px;
        height: 600px;
       
    }
.list-lorem {
    display: flex;
    justify-content: space-around;
}


.list-img {display: flex;
margin-top: 50px;
gap: 30px;
justify-content: center;
}

.div-section-third 
{width: 1600px;
height: 648px;
background-color: rgba(245, 244, 250, 1);
}

.div-our-team {
    width: 270px;
    height: 368px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius:4px ;
    border-bottom-right-radius: 4px;box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
.div-footer {
    width: 1600px;
    height: 252px;
    background-color: var(--footer-background-color);
}

.div-main-portfolio {
    display: flex;
    gap: 30px;
}

.div-portfolio-card {
    width: 370px;
    height: 404px;
    border: 1px solid rgba(238, 238, 238, 1)
}

.h2-portfolio {
    padding-left: 24px;
}

.h2-footer {
    padding-top: 60px;
}